*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    background: linear-gradient(to right,black,darkblue,maroon,black);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
  
}
body.lightStore{
    background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
}
h1{
    margin: 0% auto;
    width: 90%;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 100%;
    border: 6px solid rgba(241, 232, 214, 0.13);
    box-shadow: 0px 2px 10px rgba(135, 206, 250, 0.445);
    margin-bottom: 15px;
    cursor: pointer;
   

}
h1 ion-icon{
    border-bottom: 2px solid wheat;
    border-radius: 10px;
    box-shadow: 0px 1px 2px darkgreen;
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.lightStore h1{
    background-color: rgba(0, 0, 0, 0.39);
    border: 4px solid rgba(255, 217, 0, 0.384);
    box-shadow: 0px 2px 15px black;
    text-shadow: 2px 2px 4px gold;
    justify-content: center;
    align-items: center;
}
body.lightStore h1 ion-icon{
    color: rgba(255, 217, 0, 0.486);
    border-bottom: 3px solid rgba(64, 64, 250, 0.904);
   
}
h3{
    color: wheat;
    text-shadow: 2px 2px 4px darkblue;
    margin-bottom: 2px;
   
}
h2{
    margin-bottom: 15px;
}
.product-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}
.product-section img{
    margin: 0% auto;
    width: 150px;
    height: 150px;
    border: 2px solid lightskyblue;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px darkgray;
    margin: 5px;
}

.cart-item img {
    margin: 0% auto;
    width: 60px;
    height: 60px;
    border: 2px solid lightskyblue;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px darkgray;
    margin: 5px;
}
.product-section img:hover{
    transform: scale(1.10);
    transition: 0.5s;
    cursor: pointer;
}
body.lightStore .product-section img{
    border: 2px solid rgba(255, 217, 0, 0.616);
    box-shadow: 0px 5px 20px black;
}

.product-card {
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.cart {
    margin: 0% auto;
    max-width: 370px;
    margin-top: 20px;
    border-top: 2px solid #ddd;
    padding-top: 10px;
}



#checkoutButton{
    border: none;
    padding: 6px;
    color: white;
    font-size: 15px;
    background-color: rgb(0, 139, 19);
    border-radius: 6px;
    cursor: pointer;
}
#checkoutButton:hover{
    background-color: blue;
    color: white;
    text-shadow: 2px 2px 4px gold;
}
#checkoutButton:hover::after{
    content: "-Now!";
    display: inline-block;
    position: relative;
}
.cart{
    list-style: none;
    text-decoration: none;
    margin: 0% auto;
    color: wheat;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 7px;
    border: 1px solid rgba(255, 217, 0, 0.514);
    box-shadow: 0px 2px 6px darkgray;
    overflow: scroll;
    height: 30vh;
}
.cart::-webkit-scrollbar{
    width: 10px;
    height: 0px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border: none;
    box-shadow: 0px 3px 6px lightskyblue;
}
body.lightStore .cart::-webkit-scrollbar{
    box-shadow: 0px 3px 6px yellowgreen;
}
.cart::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 255, 0.795);
    border-radius: 20px;
    width: 10px;
    height: 0px;
}
.cart::-webkit-scrollbar-thumb:hover{
    background-color: green;
}
.cart h2{
    color: white;
    text-shadow: 2px 2px 4px darkblue;
    text-decoration: underline;
    margin-top: -15px;
    font-size: 20px;
}
#cartItems{
    color: white;
    text-shadow: 2px 2px 4px darkblue;
    font-size: 20px;
    margin-bottom: 15px;
}
#totalPrice{
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 2px 2px 4px gold;
}

/* Style for the cart container */
.cart {
    display: block; /* Initially show the cart */
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  /* Hide cart by default */
  .cart.hidden {
    display: none;
  }
  
  /* Style for the "Show/Hide" button */
  #toggleCartButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 2px 10px rgba(135, 206, 250, 0.432);
    border: 1px solid rgba(255, 217, 0, 0.753);
    cursor: pointer;
  }
  body.lightStore #toggleCartButton{
    background-color: blue;
    box-shadow: 0px 2px 10px black;
  }
  body.lightStore #toggleCartButton:hover {
    background-color: green;
  }
  
  
  #toggleCartButton:hover {
    background-color: green;
  }


  #searchInput{
    margin: 0% auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 60%;
    border: 2px solid lightskyblue;
    box-shadow: 0px 2px 10px black;
    font-size: 16px;
    color: white;
    text-align: 2px 2px 4px gold;
    border-radius: 10px;
  }
  #searchInput:focus{
    background-color: lightskyblue;
  }
  body.lightStore #searchInput{
    border: 2px solid gold;
  }
  body.lightStore #searchInput:focus{
    background-color: violet;
  }
  #voiceSearchButton{
    position: relative;
    right: 35px;
    top: 4px;
    background-color: rgba(7, 6, 73, 0.925);
    font-size: 21px;
    padding: 0;
    border-bottom: 1px solid rgba(255, 217, 0, 0.849);
    border-radius: 7px;
    box-shadow: 0px 2px 10px lightskyblue;
  }
  body.lightStore #voiceSearchButton{
    box-shadow: 0px 2px 10px yellowgreen;
  }
  input{
    margin: 0% auto;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 6px;
    width: 50px;
  }

.navigation{
    margin: 0% auto;
    margin-top: 5px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    border: none;
    background: transparent;
  }
 

  .navigation::-webkit-scrollbar{
    width: 0%;
  }
  .navigation::-webkit-scrollbar-track {
    box-shadow: 0px 2px 6px lightskyblue;
    border-radius: 10px;
  } 
  body.lightStore   .navigation::-webkit-scrollbar-track {
    box-shadow: 0px 2px 6px rgba(162, 219, 48, 0.897);
    border-radius: 10px;
  }   
  .navigation::-webkit-scrollbar-thumb{
    border: 1px solid rgba(255, 217, 0, 0.856);
    border-radius: 10px;
    background: rgba(0, 0, 139, 0.562); 
    cursor: grab; 
  }
  .navigation::-webkit-scrollbar-thumb:hover {
    background: green;
    cursor: grab;
  }
  .navigation::-webkit-scrollbar-thumb:active{
    cursor: grabbing;
  }
  .navigation .mlb{
    margin: 5px;
    padding: 50px;
    border: 1px solid rgba(255, 217, 0, 0.863);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(G-Shock-Digital-Black-Red-Shock--Watch-Pic7.avif);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .mlb:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .mlb ion-icon{
    color: transparent;
  }
  .navigation .nba{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image: url(V-Code-Lady-Watch-Pic2.avif);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .nba:hover{
    color: transparent;
    transform: scale(1.10);
    transition: 0.5s;
  }
  .navigation .nba ion-icon{
    color: transparent;
  }
  .navigation .L-Accesories-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.863);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(AccesoriesPic.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .L-Accesories-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Accesories-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Clothing-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(ClothingFashionPic.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .L-Clothing-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Clothing-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Shoes-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.863);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(SHoesStorePic.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .L-Shoes-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Shoes-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Sneakers-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.849);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(SelectSneakersPic.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .navigation .L-Sneakers-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Sneakers-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Kitchen-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(KitchenToolsPic.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .navigation .L-Kitchen-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Kitchen-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-RealState-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(RealStatePic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .navigation .L-RealState-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-RealState-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Glasses-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(GlassesPic.avif);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .navigation .L-Glasses-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Glasses-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Watches-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(WatchesLogoPic.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .navigation .L-Watches-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Watches-Nav ion-icon{
    color: transparent;
  }
  .navigation .L-Men-Fashion-Nav{
    margin: 5px;
    padding: 50px;
    border: 2px solid rgba(255, 217, 0, 0.856);
    box-shadow: 0px 3px 10px black;
    border-radius: 10px;
    background-image:url(MensFashionLogoPic.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .navigation .L-Men-Fashion-Nav:hover{
    box-shadow: 2px 2px 10px lightgreen;
    background-color: rgba(255, 217, 0, 0.349);  
    transform: scale(1.10);
    transition: 0.5s; 
  }
  .navigation .L-Men-Fashion-Nav ion-icon{
    color: transparent;
  }
  h4{
    margin: 0% auto;
    width: 200px;
    color: white;
    text-shadow: 2px 2px 2px darkblue;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 5px;
    border-bottom: 2px solid wheat;
    box-shadow: 0px 2px 6px lightskyblue;
    border-radius: 15px;
    letter-spacing: 1px;
  }
  body.lightStore h4{
    border-bottom: 2px solid rgba(153, 205, 50, 0.774);
    box-shadow: 0px 3px 10px black;
    text-shadow: 2px 2px 4px rgba(255, 217, 0, 0.856);
    background-color: rgba(0, 0, 0, 0.651);
  }

  button{
    border-radius: 6px;
    margin: 1px;
  }

  @media (min-width: 768px){
    h1{
      width: 60%;
    }
    #searchInput{
      width: 40%;
    }
    .product-section{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px;
      gap: 30px;
      border: none;
      justify-content: center;
      align-items: center;
      text-align: center; 
  }
  .cart{
    min-width: 50%;
  }
  .cart h2{
   
    font-size: 25px;
}
  }