body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: 1s;
    animation: moveNavbar 30s linear infinite;
    animation-play-state: paused; /* Pause the animation by default */
}

/* Hover effect for navbar links */
.navbar a:hover {
    color: #ff5722;
    animation-play-state: running; /* Resume the animation when hovered */
}

@keyframes moveNavbar {
    100% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(500px);
    }
}

  
  
  